textarea {
    min-height: 400px;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.hstack {
    display: flex;
    flex-direction: row;
}
.email-preview {
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}
.email-preview div {
    display: inline;
}

.email-preview-sender{
    margin-right: 30px;
    font-weight: bold;
}
.email-preview-timestamp {
    float: right;
    font-weight: lighter;
}

#email-view strong {
    margin-right: 10px;
}